doctype html
html
  head
    block title
      title Weather Analysis
    link(rel="stylesheet", href="bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", href="swal/sweetalert2.css")
    link(rel="stylesheet", href="css/style.css")
    block head

  body
    block content

    script(src="jquery/jquery.min.js")
    script(src="bootstrap/js/bootstrap.min.js")
    script(src="swal/sweetalert2.min.js")
    block scripts
